/* note */


selector:  1. *   2. class  3. id   4. element   5.attribute

*{

}

p{

}

#demo{

}

.classname{

}

p.classname{


}

/* <a> that with "title" attribute*/
a[title]{

}

/* a and b */
/* grouping selector */
span, div{

}

/* all b under a */
/* desendant conbinator */
span div{

}

/* all b under a in first generation */
/* child combinator */
span > div{

}

/* all b just follow a */
/* general sibling combinator */
span ~ div{

}

/* one b just follow a */
/* adjacent sibling combinator */
span + div{

}

priority:
inline > internal > external

inline
<p style="color:sienna;margin-left:20px">这是一个段落。</p>

internal
<style>
hr {color:sienna;}
p {margin-left:20px;}
body {background-image:url("images/back40.gif");}
</style>

external
<link rel="stylesheet" type="text/css" href="mystyle.css">





body{
  background-color: red;
  background-image:url('app.jpg');
  background-repeat:repeat;                   /* no-repeat   repeat-x   repeat-y  */
  background-position:center;                 /* right top  */
  background-attachment: fixed;
}

body{
  color: red;
  text-align: center;                                  /*  left    justify  */
  text-decoration: none;                               /* overline  line-through  underline   */
  text-transform: uppercase;                           /* lowercase  capitalize   */
  text-indent: 50px;
  text-shadow: 2px 2px red;
  
  vertical-align: text-top;                         /* text-buttom  */
  letter-spacing: 2px;
  word-spacing:30px;
  line-height: 70%;
}

body{
  font-family: "Times New Roman", Times, serif;
  font-style:normal;                                    /*italic */
  font-size: 30px;
  font-weight: normal;                                   /* bold */

}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}


ul{
  list-style-type: none;                                 /*circle  square  */
  list-style-image: url("abc.gif");
  list-style-position: inside;                           /* outside  */
}