/* note */


selector:  1. *   2. class  3. id   4. element   5.attribute

*{

}

p{

}

#demo{

}

.classname{

}

p.classname{


}

/* <a> that with "title" attribute*/
a[title]{

}

/* a and b */
/* grouping selector */
span, div{

}

/* all b under a */
/* desendant conbinator */
span div{

}

/* all b under a in first generation */
/* child combinator */
span > div{

}

/* all b just follow a */
/* general sibling combinator */
span ~ div{

}

/* one b just follow a */
/* adjacent sibling combinator */
span + div{

}

priority:
inline > internal > external

inline
<p style="color:sienna;margin-left:20px">这是一个段落。</p>

internal
<style>
hr {color:sienna;}
p {margin-left:20px;}
body {background-image:url("images/back40.gif");}
</style>

external
<link rel="stylesheet" type="text/css" href="mystyle.css">


